@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');

html{
  font-family: 'Montserrat', sans-serif;
}

#page{
    margin:auto;
    height:100vh;
    display:grid;
    place-items:center;
}

@media (min-width: 1200px) {
  #page {
    width:1200px;
  }
}

.rotate {
    display: inline-block;
    animation: rotate 3s ease-in-out infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(80deg);
    }
    100%{
      transform: rotate(-15deg);
    }
  }

.flex{
  display: flex;
justify-content: space-between;
flex-wrap:wrap;
}

.item{
  flex-basis:25%;
  display:flex;
  flex-flow:column;
  align-content:center;
  padding:3rem;
  text-align:center;
}

.item div{
  line-height:1.5;
  font-weight: 300;
font-size: .9rem;
}

@media (max-width: 1200px) {
  .item {
    flex-basis:100%
  }
}

.item h2{
  text-transform:uppercase;
  font-size:2rem;
  font-weight:100;
}

.btn{
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #0f3c60;
  border:1px solid #0f3c60;
  padding: 1rem 2.75rem;
  font-size: .75rem;
  transition:all .3s ease;
}

.btn:hover{
  opacity:0.8;
  transform:scale(1.1);
}

.mt-1{
  margin-top:1rem;
}
.mt-2{
  margin-top:2rem;
}
.mt-3{
  margin-top:3rem;
}
.mt-4{
  margin-top:4rem;
}



