.rotate {
    display: inline-block;
    animation: rotate 1s ease-in-out infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100%{
      transform: rotate(-45deg);
    }
  }