#page{
    width:100vw;
    height:100vh;
    display:grid;
    place-items:center;
}

.rotate {
    display: inline-block;
    animation: rotate 3s ease-in-out infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(80deg);
    }
    100%{
      transform: rotate(-15deg);
    }
  }